{% extends 'layout.html' %}{% load static %}
{% block title %}add new intervenant{% endblock title %}

{% block content %}
<div class="div-form-create" id="div-form-create">
    <h3>Form Add New intervenant</h3>
    <form action="" method="post" class="form-create-intervenant">
        {% csrf_token %}
        
        {{form.as_p}}
        <button type="submit" class="btn btn-create" >add intervenant</button>
        <a type="button" class="btn btn-cancel" href="{% url 'list_intervenant' %}">Annuler</a>
    </form>
</div>
{% endblock content %}