{% extends 'layout.html' %}{% load static %}

{% block title %}edit Supplier Ref N°: {{instance.supplier_number}} {% endblock title %}



{% block content %}
<div class="div-form-edit" id="div-form-edit">
    <h3>Form Edit Supplier Ref N° : <span class="" id="article_name">{{instance.supplier_number}}</span></h3>
        
    <form action="" method="POST"  class="form-edit-supplier" id="form-edit-supplier">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-edit">edit Supplier</button><a type="button" class="btn btn-cancel" href="{% url 'list_supplier' %}">Annuler</a>
    </form>
</div>
{% endblock content %}
    
    