{% extends 'layout.html' %} {% load static %}

{% block title %}info Supplier ref : {{supplier.supplier_number}}{% endblock title %}

{% block content %}
<h2>Information Fournisseur reference N°: <b>{{supplier.supplier_number}}</b></h2> 
<div class="div-info">
    <div class="div-info-ul">  
        <p style="border: 1px solid gray; width: 25%; padding:10px;margin:10px">
        <small>
            Supplier : {{supplier.supplier}}<br>reference Supplier : {{supplier.supplier_number}} <br>
            N° Identifiant Unique : {{supplier.nui}}<br>
            Registre Commerce : {{supplier.rc}}
            <br>
            Phone : {{supplier.phone}}<br>
            Email : {{supplier.mail}}
            <br>
            Country : {{supplier.country}}
            <br>
            Town : {{supplier.town}}
        </small><br><br>
        <a href="{% url 'info_supplier' id=supplier.id %}" class="btn btn-info"><span class="fa fa-info"></span></a>
        <a href="{% url 'edit_supplier' id=supplier.id %}" class="btn btn-edit"><span class="fa fa-edit"></span></a>
        <a href="{% url 'delete_supplier' id=supplier.id %}" class="btn btn-delete"><span class="fa fa-trash"></span></a>
        </p>               
    </div>
        

</div>   


{% endblock content %}
    
    