{% extends 'layout.html' %} {% load static %}
{% block title %}list_supplier{% endblock title %}
{% block content %}
    
    <div class="content">
        <h1>PAGE DES FOURNISSEURS</h1>
        {% if messages %}
        <div class="message">
            {% for message in messages %}
                <span>{{message}}</span>
            {% endfor %}
        </div>
        {% endif %}
        <div class="divider"></div>
        <div class="divider"></div>   
        <a class="btn" href="{% url 'add_supplier' %}" type="Button">create Supplier</a>
        <div class="divider"></div>
        <div class="divider"></div>   
        
        <div class="content-table">
            <div class="d-flex">
                <div>
                        
                    <input type="search" name="search" id="search" class="input input-search">
                    <a href=""><span class="fa fa-search span span-search" btn-search></span></a>
                </div>
                <div class="div-type-file-download right">
                    <form action="" method="get" class="form" id="form-select-type-file-download">
                        {% csrf_token %}
                   <label for="" class="label label-select">choose file to download</label>
                   <select name="format" id="select-type-download-file" class="select select-type-download-file">
                       <option value="">----- </option>
                       <option value="excel"><span class="fa fa-file-excel span"></span>Excel File</option>
                       <option value="csv"><span class="fa fa-file-csv span"></span>CSV File</option>
                       <option value="json"><span class="fa fa-file-Json span"></span>JSON File</option>
                   </select>
                   <span class="fa fa-file-excel span span-file"></span>
                    <span class="fa fa-file-csv span span-file"></span>
                    <span class="fa fa-file-pdf span span-file"></span>
                   <div>
                       <button href="" class="a download download-type-file" id="download" type="submit" style="display:none;"><span class="fa fa-download span" ></span>download <i id="download-type"></i></button>
                   </div>
                    </form>
                   
                </div>
            </div>
             <table class="table" id="table">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>ref Supplier</th>
                        <th>Supplier</th>
                        <th>nui</th>
                        <th>rc</th>
                        <th>phone</th>
                        <th>mail</th>
                        <th>country</th>
                        <th>town</th>
                        <th>User</th>
                        <th>Options</th>
                        <!--<th>Image</th>-->
                    </tr>
                </thead>
                <tbody class="tbody" id="tbody">
                    {% for supplier in suppliers %}
                    <tr>
                        <td>{{supplier.id}}</td>
                        <td>{{supplier.supplier_number}}</td>
                        <td>{{supplier.supplier}}</td><td>{{supplier.nui}}</td>
                        <td>{{supplier.rc}}</td>
                        <td>{{supplier.phone}}</td>
                        <td>{{supplier.mail}}</td>
                        <td>{{supplier.country}}</td>
                        <td>{{supplier.town}}</td>
                        <td>{{supplier.user}}</td>
                       
                        <td>
                            <a type="button"  href="{% url 'info_supplier' id=supplier.id %}" data-id="{{category.id}}" id="btn-info-supplier" class="a a-info"><span class="fa fa-info" class="a a-info"></span></a>

                            <a type="button" data-id="{{supplier.id}}" id="btn-show-row-supplier" href="{% url 'edit_supplier' id=supplier.id %}" class="a a-edit"><span class="fa fa-edit" class="a a-info"></span></a>
                            <a type="button"  href="{% url 'delete_supplier' id=supplier.id %}" data-id="{{supplier.id}}" id="btn-delete-supplier" class="a a-delete"><span class="fa fa-trash" class="a a-info"></span></a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
    
    