{% extends 'layout.html' %}{% load static %}

{% block title %}edit Package N°: {{instance.id}} {% endblock title %}



{% block content %}
<div class="div-form-edit" id="div-form-edit">
    <h3>Form Edit Package <span class="" id="package_name">{{instance.package}}</span></h3>
        
    <form action="" method="POST"  class="form-edit-package" id="form-edit-package">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-edit">edit Package</button><a type="button" class="btn btn-cancel" href="{% url 'list_package' %}">Annuler</a>
    </form>
</div>
{% endblock content %}
    
    