{% extends 'layout.html' %}{% load static %}


{% block title %}list Package{% endblock title %}


{% block content %}

    <div class="content">
        <h1>list Package Page</h1>
        {% if messages %}
        <div class="message">
            {% for message in messages %}
                <span>{{message}}</span>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="divider"></div>
        <div class="divider"></div> 
        <a class="btn" href="{% url 'add_package' %}" type="Button">create Package</a>
        <div class="divider"></div>
        <div class="divider"></div>            
        
        <div class="content-table">
            <div class="d-flex">
                <div>
                        
                    <input type="search" name="search" id="search" class="input input-search">
                    <a href=""><span class="fa fa-search span span-search" btn-search></span></a>
                </div>
                <div class="div-type-file-download right">
                    <form action="" method="get" class="form" id="form-select-type-file-download">
                        {% csrf_token %}
                   <label for="" class="label label-select">choose file to download</label>
                   <select name="format" id="select-type-download-file" class="select select-type-download-file">
                       <option value="">----- </option>
                       <option value="excel"><span class="fa fa-file-excel span"></span>Excel File</option>
                       <option value="csv"><span class="fa fa-file-csv span"></span>CSV File</option>
                       <option value="json"><span class="fa fa-file-Json span"></span>JSON File</option>
                   </select>
                   <span class="fa fa-file-excel span span-file"></span>
                    <span class="fa fa-file-csv span span-file"></span>
                    <span class="fa fa-file-pdf span span-file"></span>
                   <div>
                       <button href="" class="a download download-type-file" id="download" type="submit" style="display:none;"><span class="fa fa-download span" ></span>download <i id="download-type"></i></button>
                   </div>
                    </form>
                   
                </div>
            </div>
              <table class="table" id="table">
                <thead class="thead">
                    <tr>
                        <th>#</th>
                        <th>package</th>
                        <th>user</th>
                        <th>option</th>
                        <!--<th>Image</th>-->
                    </tr>
                </thead>
                <tbody class="tbody" id="tbody">
                    {% for package in packages %}
                    <tr>
                        <td>{{package.id}}</td>
                        <td>{{package.package}}</td>
                        <td>{{package.user}}</td>
                        
                        <td>
                            <a type="button"  href="{% url 'info_package' id=package.id %}" data-id="{{package.id}}" id="btn-info-package" class="a a-info"><span class="fa fa-info" class="a a-info"></span></a>

                            <a type="button" data-id="{{package.id}}" id="btn-show-row-package" href="{% url 'edit_package' id=package.id %}" class="a a-edit"><span class="fa fa-edit" class="a a-info"></span></a>
                            <a type="button"  href="{% url 'delete_package' id=package.id %}" data-id="{{package.id}}" id="btn-delete-package" class="a a-delete"><span class="fa fa-trash" class="a a-info"></span></a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
    
    