{% extends 'layout.html' %} {% load static %}

{% block title %}info customer ref : {{customer.customer_number}}{% endblock title %}

{% block content %}
<h2>Information customer reference N°: <b>{{customer.customer_number}}</b></h2> 
<div class="div-info">
    <div class="div-info-ul">  
        <p style="border: 1px solid gray; width: 25%; padding:10px;margin:10px">
        <small>
            Supplier : {{customer.customer}}<br>reference Supplier : {{customer.customer_number}} <br>
            N° Identifiant Unique : {{customer.nui}}<br>
            Registre Commerce : {{customer.rc}}
            <br>
            Phone : {{customer.phone}}<br>
            Email : {{customer.mail}}
            <br>
            Country : {{customer.country}}
            <br>
            Town : {{customer.town}}
        </small><br><br>
        <a href="{% url 'info_customer' id=customer.id %}" class="btn btn-info"><span class="fa fa-info"></span></a>
        <a href="{% url 'edit_customer' id=customer.id %}" class="btn btn-edit"><span class="fa fa-edit"></span></a>
        <a href="{% url 'delete_customer' id=customer.id %}" class="btn btn-delete"><span class="fa fa-trash"></span></a>
        </p>               
    </div>
        

</div>   


{% endblock content %}
    
    